<!DOCTYPE html>
<html>
<head>
  <title>DemoApp</title>
  <%= javascript_include_tag "jquery.min" %>  
  <%= javascript_include_tag "jquery_ujs" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
